
@media screen and (min-width: 0px) and (max-width: 767px) {
  .copy{
    grid-template-columns: none;
    width: auto;
  }

  p{
    font-size: 17px;
  }

  .fa{
    font-size: 17px;
  }

  .copy p{
    font-size: 14px;
    margin: 5px;
  }

  form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form{
    bottom: 10%;
  }

   .weight {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: #fff;
    width: 100%;
    transform: inherit;
    left: 0;
  }

  .re-flex{
    width: auto;
    display: block;
  }

  .flex{
        margin-top: 5%;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px){
  
.copy{
   grid-template-columns: 1fr 1fr 1fr;
}
  form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
}

