
body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
video { 
     position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.copy{
    display: flex;
    position: absolute;
    bottom: 80px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:focus{
  outline: none;
}

h5{
  font-family: 'Futura Bk BT';
    font-weight: normal;
    font-style: normal;
   color: #fff;
}

.close{
  color: #fff;
}


.close:hover{
  color: #fff;
}

p{
   font-family: 'Futura Bk BT';
    font-weight: normal;
    font-style: normal;
  font-size: 20px;
      color: #fff!important;
}
.copy{
     justify-content: space-between;
    display: flex;
    margin-left: -5%;
}
.copy p{
  margin: 0 !important;
  text-align: center;
 font-family: 'Futura Bk BT';
    font-weight: normal;
    font-style: normal;
}
.copy p a {
  margin-right: 10px;
}

.fa{
  color: #fff;
  font-size: 20px;
  transition: ease-in-out all .3s;
  margin: 5px;
}

.fa:hover{
  color: #3c706f;
  transition: ease-in-out all .3s;
}

.icons{
  position: absolute;
  bottom: 100px;
  color: #fff;
  font-weight: 800;
  right: 30px;
  flex-direction: ;
  display: flex;
  width: 5px;
  top: 3%;
}

.re-flex{
      display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}
:focus{outline: none;}


.effect-1{
  border: 0;
  padding: 7px 0;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  margin: 5%;
  background: transparent;
  color: #fff;
  width: 100%!important;
}

input{
  font-family: 'Futura Bk BT';
    font-weight: normal;
    font-style: normal;
  padding: 5px;
  background: transparent!important;
    border: none!important;
    color: #fff!important;

}

.frm_forms{
  display: flex;
  justify-content: center;
} 

.frm_form_fields {
      width: 95%!important;
    display: flex!important;
    justify-content: center!important;
}

.frm_form_field.frm_inline_container, .frm_form_field.frm_right_container, .frm_form_field.frm_left_container, .frm_combo_inputs_container, .frm_grid_container, .frm_form_fields .frm_section_heading, .frm_form_fields .frm_fields_container, .frm_form_field.frm_two_col .frm_opt_container, .frm_form_field.frm_three_col .frm_opt_container, .frm_form_field.frm_four_col .frm_opt_container {
    display: block;
}

.frm_combo_inputs_container, .frm_grid_container, .frm_form_fields .frm_section_heading, .frm_form_fields .frm_fields_container {
    display: grid;
    width: 93%!important;
}

fieldset {
    margin: 0;
    border: 0;
    width: 95%;
}

.weight{
  transform: rotate(-100grad);
  position: absolute;
  bottom: 100px;
  color: #fff;
  font-weight: 800;
  left: -65px;
}

button:focus{
  outline: none!important;
}

a{
  color: #fff;
  text-decoration: none!important;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #112620;
  width: auto;
  text-align: center;
  font-family: 'Futura Bk BT';
  font-weight: normal;
  font-style: normal;
  display: -webkit-inline-box;
  border-color: transparent!important;
  padding: 5px 15px 5px 15px;
  transition: .5s;
  font-size: 21px;
}

.btn-primary:hover{
  background-color: #3c706f;
   transition: .5s;
}

input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
       display: none;
   }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}

.btn-primary:focus, .btn-primary.focus{
  box-shadow: 0 0 0 0.2rem transparent;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c706f!important;
}
.boton-center{
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 30%;
    width: 100%;
}

.modal-header{
  border-bottom: 1px solid transparent;
}

.modal-content{
  background-image: linear-gradient(to left top, #112620, #1b3731, #264944, #315c59, #3c706f);
  border: none!important;
  background-color: transparent;
}


.modal-title{
      display: flex;
    justify-content: center;
   margin-top: -5%;
    font-size: 23px;
}
.modal-footer {
  border-top: 1px solid transparent;
  justify-content: center;
}

.title-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::-webkit-input-placeholder{
  color: #cccc!important;
}

.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number], .frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel], .frm_style_formidable-style.with_frm_style input[type=phone], .frm_style_formidable-style.with_frm_style input[type=search], .frm_style_formidable-style.with_frm_style select, .frm_style_formidable-style.with_frm_style textarea, .frm_form_fields_style, .frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {
    color: #fff!important;
    background-color: transparent!important;
    border-color: transparent!important;
    border-width:0!important;
    border-style: solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    font-size: 18px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
    box-shadow: none!important;
}

.form-bottom{
  width: 110%;
  display: flex;
  justify-content: center;
      padding-top: 18px;
}

.frm_forms.frm_style_formidable-style.with_frm_style {
    direction: ltr;
    width: 100%!important;
}

.frm_style_formidable-style.with_frm_style, .frm_style_formidable-style.with_frm_style form, .frm_style_formidable-style.with_frm_style .frm-show-form div.frm_description p {
    text-align: left;
    width: 90%!important;
    justify-content: center;
}

.with_frm_style .frm_form_fields{
  width: 100%!important;
}

.modal{
  padding-left: 0px!important;
}

.frm-g-recaptcha{
  width: 108%;
  justify-content: center;
  display: flex;
}